body
{
    margin: 0px;
}


body > *
{
    margin:auto;
    padding: 0px,
}
#logo
{
    position:absolute;
    margin-left: -2px;
}

#top
{
    position: relative;
}

body article , #top 
{
    width:1000px;
}

body article
{
    backface-visibility: #0FF;
}

#top img[alt="flash_image"]
{
    width: inherit;
    margin-bottom: -2px;
}

#top nav
{
    background-color:#913027;
    position:relative;
}

#top nav ul
{
    padding:0px;
    margin:0 2px;
    display: inline-block;
    width:100%;
    height:64px;
    
}

#top nav ul li
{
    width:196px;
    margin : 0px;
    height: inherit;
    display: inline-flex;
    
}

#top nav ul li a
{
    text-decoration:none;
    text-align: center;
    text-transform: uppercase;
    color:#FFF;
    width: 100%;
    font-size:18px;
    padding:15px 30px;
    line-height: 196%;
}


#top nav ul li a:hover
{
    background-image: url(img/rings.png);
    background-position:right;
    background-repeat: no-repeat;
    background-color:black;
}


body > header
{
    height: 52px;
    width: 100%;
    background-image: url(img/top_bg.png);
    background-repeat: repeat-x;
}

body > footer
{
    height: 212px;
    width: 100%;
    margin-top: 20px;
    background-image: url(img/foot_bg.png);
    background-repeat: repeat-x;
}

nav ul li
{
    display : inline;
    list-style-type: none;
}

h1
{
    color:#913027;
    /*text-transform: capitalize;*/
    font-size:34px;
}

#text a
{
    color:#913027;
    text-decoration: none;
}

#text h3
{
    font-size:120%;
}

.right
{
    float:right;
    width:25%;
}

.right h3
{
    padding-left: 7px;
}

.right img
{
    width: 236px;
    height: 200px;
    margin: 0 5px;
}

#text
{
    display:inline;
    float:left;
    width:48%;
}


.clear
{
    clear:both;
}

#pictures
{
    display:block;
    margin-top:50px;
}

#pictures h3
{
    text-align: center;
    padding-left: 60px;
}

#pictures img
{
    width: 236px;
    height: 200px;
    margin: 0 5px;
}

article
{
    padding-top: 30px;
    margin-bottom: 66px;
}


#bla
{
    width:1000px;
    text-align: center;
    font-weight: bold;
}


